.blog{
  width: 100%;
  height: 100%;


  h1,h2,h3{
    font-family: 'Glegoo', serif;
  }

  &.index{
    .content{
      width: 65%;
      height: 100%;
      display: inline-block;

      h1{
        width: 100%;
        text-align: center;
        .lnr{
          color: #ccc;
        }
      }

      .posts{
        padding: 30px;
      }

      .back-to-blog{
        padding: 3px 10px;
        border-radius: 11px;
        font-size: 12px;
        display: inline-block;
        margin: 10px;
        float: left;
      }

      .topic{

        .back-to-blog{
          border: 1px solid #111;
          margin-top: -15px;
          color: #111;
          position: absolute;

        }

      }


      .post {

        &.full{

          .back-to-blog{
            border: 1px solid #fff;
            color: #FFF;
          }


          .hero{
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 300px;

            h1{
              margin: 0px;
              padding-top: 130px;
              color: #FFF;
              text-shadow: 0px 0px 17px rgba(150, 150, 150, 1);
              font-size: 40px;
            }
          }

          .content{
            width: 100%;
            padding: 0px 40px;
            margin-top: 40px;
            font-size: 20px;

            .posted-on{
              font-size: 12px;
            }
          }

          .disqus{
            padding: 30px;
            margin-top: 40px;
          }
        }

        &.preview {

          margin-bottom: 100px;
          display: block;
          color: #111111;

          .read-more {
            border: 1px solid #337ab7;
            padding: 2px 10px 0px 10px;
            border-radius: 13px;
            float: right;
            background-color: #FFF;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
          }

          .hero {
            width: 100%;
            height: 150px;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-bottom: 10px;

            h2 {
              text-shadow: 0px 0px 17px rgba(150, 150, 150, 1);
              padding-top: 70px;
              width: 100%;
              text-align: center;
              color: #FFF
            }
          }

        }
      }

    }

    .sidebar{
      width: 35%;
      display: inline-block;
      position: fixed;
      padding: 100px;
      height: 100%;
      background-color: #ecf0f1;
      color: #7f8c8d;
      overflow: scroll;

      .topics{
        margin-top: 70px;

        ul{
          padding-left: 20px;
        }
      }


      .social{
        margin-top:50px;
        i{
          font-size: 22px;
          display: inline-block;
          margin-right: 40px;
          color: #bdc3c7;
        }
      }

      h1,h2{
        width: 100%;
        margin: 0px;
      }

      h1{
        font-size: 34px;
        margin-top: 10px;
      }

      h2{
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }


}