.dashboard{

  .new-post{
    label{
      width: 100%;
      margin-bottom:20px;
    }
    input.title{
      font-size: 22px;

      padding: 25px 20px;
    }
    .fr-view{
      min-height: 200px !important;
    }

    .headerImage{
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 300px;
    }
  }
}