.home{
  width: 100%;
  height: 100%;
  color: $brand-highlight;

  .hero{
    background-color: $brand-primary;
    padding: 250px 0px 300px 0px;
    color: #adf1ff;
    width:100%;
    background-image: linear-gradient( #3d69ff, #3498db);
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vw;
      /* set height to pixels if you want angle to change with screen width */
    }

    .details {
      padding-left: 50px;
      font-size: 18px;
      font-weight:300;
      h1 {
        font-size: 40px;
        color: #fff;
        margin-top: 0px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 6px;
        transform: scale(1, 0.95);
        -webkit-transform: scale(1, 0.95);
        -moz-transform: scale(1, 0.95);
        -ms-transform: scale(1, 0.95);
        -o-transform: scale(1, 0.95);
      }

      h2 {
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 0px;
        text-transform: uppercase;
        font-weight: 100;
        color: #FFF;
      }
    }

    .photo{
      width:100px;
      height: auto;
    }
  }

  .about{
    margin-top: 150px;
    font-size: 18px;

    h2, h3{
      margin-top: 30px;
      text-transform: uppercase;
      font-size:28px;
      font-weight:300;
      letter-spacing:3px;
    }

    .col-md-4:not(:first-child){
      padding-left: 30px;
    }

    h3{
      font-size: 20px;
    }
  }

  .technologies{
    margin-top: 200px;
    background-color: #f2f2f2;
    padding-bottom: 34px;
    h2{
      text-transform: uppercase;
      color: #ccc;
      font-weight: 300;
      width: 100%;
      text-align: center;
      margin-bottom: 22px;
    }
    .tech{
      float: left;
      width: 10.7%;
      margin: 10px;
      img{
        width: 100%;
        height:auto;
      }
    }
  }

  .projects{
    background-color: #333347;
    width: 100%;
    color: #92929c;

    padding-top: 50px;
    padding-bottom:50px;

    a{
      color: #fff;
    }

    h2, h3{
      color: #FFF;
      margin-top: 30px;
      text-transform: uppercase;
      font-size:28px;
      font-weight:300;
      letter-spacing:3px;
    }

    h3{
      font-size: 20px;
    }

    h2{
      margin-bottom: 50px;
      margin-top: 50px;
    }

    p{
      width: 80%;
    }

    .project{
      margin-bottom: 50px;
    }

    .patronart{
      img{
        width: 100%;
        height:auto;
        margin-top: 50px;
      }
    }

    .print-syndicate{
      img{
        display: block;
        margin-bottom: 20px;
      }

      .half-width{
        float: left;
        width: 50%;
        height:auto;
      }

      .activate{
        width: 30%;
        margin-left: 10%;
        margin-top: -6px;
      }

      h3{
        margin-top: 0px;
      }
    }
  }
  footer{
    background-color: #333347;
    width: 100%;
    color: #92929c;
    padding-bottom: 100px;

    h3{
      text-transform: uppercase;
      color: #FFFFFF;
      font-size:18px;
    }
    
    .resume{
      i{
        display: block;
        color: #92929c;
        font-size: 70px;
        position: relative;
        margin-top: 40px;
        margin-left: calc(50% - 105px);
      }
      h4{
        margin-left: calc(50% - 126px);
        color: #92929c;
      }
      a:hover{
        text-decoration: none;
      }
    }

    .contact{
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
        outline: none;
      }
      form{
        margin-top: 40px;
      }
      input, textarea{
        display: block;
        margin-bottom: 10px;
        width: 100%;
        background-color: #50506f;
        border:0px;
        padding: 5px;
      }

      button{
        display: block;
        margin-bottom: 10px;
        background-color: #50506f;
        border:0px;
        padding: 5px;
        float: right;
        color: #FFF;
      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #92929c;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #92929c;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #92929c;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #92929c;
      }
    }

    b{
      display: block;
      color: #FFFFFF;
      margin-top: 30px;
    }

  }
}